header {
    min-height: 60px;

    .logo-link {
        float: left;
    }

    .nav {
        float: right;
        left: 80px;
    }

    .logo-link img {
        height: 60px;
        border-radius: 20px;
    }

    .logo {
        float: left;
        font-family: "Glass_TTY_VT220";
        font-size: 43px;
        font-weight: 800;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        position: relative; 
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }

    .nav-list-item:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    }

    .nav-list-item:hover:after, .nav-list-item.active:after {
        width: 100%;
        background: #42b983;
    }
}
