doctype
html(lang=config.language)
    head
        include head
    body
        .wrap
            header
                a.logo(href=url_for())
                    | /dev/log 
                include nav
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts

